node_modules
dist
umd
.DS_Store
.eslintcache
whitesource/
LICENSE_DEPENDENCIES
LICENSE_DEPENDENCIES_ALL
docs/api/build/
docs/api/source/api/
docs/api/docs-assets/
docs/dist/
.env*.local
.codesandbox/sandbox/.parcel-cache/
test-results/
.vercel
.virtualenv
.parcel-cache/
.vscode/settings.json
coverage
.nss/.*
.nss/config
