.cache

# CodeSandbox typically doesn't use a 'package-lock.json' because it allows
# developers to play around with the latest code (and will install the code from
# a PR by itself), and so it could also includes references to your local
# installation. So CodeSandbox doesn't initialise projects with a lockfile.
# Since the only dependencies are controlled by us, and since this project is
# mostly used for demonstrations and an e2e test that is unlikely to be affected
# by newer versions of dependent packages, we didn't add one, since that would
# then need to be kept up-to-date, and also to ignore our local files somehow.
package-lock.json
