###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################

# For more information about this config file, see 
# https://whitesource.atlassian.net/wiki/spaces/WD/pages/804814917/Unified+Agent+Configuration+File+and+Parameters

#######################
# Organization vitals #
#######################

# Required apiKey and userKey are expected to be provided on the CLI
productName=SDK
projectName=lit-solid

wss.url=https://saas.whitesourcesoftware.com/agent

############
# Policies #
############
# Set to 'true' to fail the build on license violation
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false

###########
# General #
###########
resolveAllDependencies=false

########################################
# Package Manager Dependency resolvers #
########################################
npm.resolveDependencies=true
npm.includeDevDependencies=true

###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################

includes=node_modules/**

case.sensitive.glob=false
followSymbolicLinks=true
