# pip install -r requirements.txt

pydata-sphinx-theme==0.14.3
myst-parser==2.0.0
Sphinx==7.0.1

# Will build locally, but not as part of our vercel build.
# urllib3 v2.0 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled
# with OpenSSL 1.0.2k-fips  26 Jan 2017.
# See: https://github.com/urllib3/urllib3/issues/2168, 
# https://github.com/psf/requests/releases/tag/v2.30.0, )
urllib3<2
