name: CI

on: [push]

env:
  CI: true
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  lint:
    uses: inrupt/typescript-sdk-tools/.github/workflows/reusable-lint.yml@v3

  unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: ["20.x", "22.x", "24.x"]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci --ignore-scripts
      # Unit tests are separate because running both at the same time causes issues
      # to the CI runner.
      - run: npm run test:unit:browser
      - run: npm run test:unit:node
      - run: npm run test:webpack
      # Upload coverage for sonar (only matching OS and one node version required)
      - uses: actions/upload-artifact@v5
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.node-version == '24.x' }}
        with:
          name: code-coverage-${{matrix.os}}-${{matrix.node-version}}
          path: coverage/

  sonar-scan:
    if: ${{ github.actor != 'dependabot[bot]' }}
    needs: [unit-tests]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # Sonar analysis needs the full history for features like automatic assignment of bugs. If the following step
          # is not included the project will show a warning about incomplete information.
          fetch-depth: 0
      - uses: actions/download-artifact@v6
        with:
          name: code-coverage-ubuntu-latest-24.x
          path: coverage/
      - uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  check:
    if: always()
    needs:
      - lint
      - sonar-scan
      - unit-tests
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # release/v1
        with:
          jobs: ${{ toJSON(needs) }}
          allowed-skips: sonar-scan
