name: CI

on: [push]

env:
  CI: true
jobs:
  lint:
    uses: inrupt/typescript-sdk-tools/.github/workflows/reusable-lint.yml@v1.4.2

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: ["16", "14"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci --ignore-scripts
      - run: npm test
      # Upload coverage for sonarcube (only matching OS and one node version required)
      - uses: actions/upload-artifact@v3
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.node-version == '16' }}
        with:
          name: code-coverage-${{matrix.os}}-${{matrix.node-version}}
          path: coverage/

  sonar-scan:
    if: ${{ github.actor != 'dependabot[bot]' }}
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # Sonar analysis needs the full history for features like automatic assignment of bugs. If the following step
          # is not included the project will show a warning about incomplete information.
          fetch-depth: 0
      - uses: actions/download-artifact@v3
        with:
          name: code-coverage-ubuntu-latest-16
          path: coverage/
      - uses: SonarSource/sonarcloud-github-action@v1.7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
