name: End-to-end Tests (Node)

on:
  push:
  # Allow manual triggering, e.g. to run end-to-end tests against Dependabot PRs:
  workflow_dispatch:

env:
  CI: true
jobs:
  e2e-node:
    # Running end-to-end tests requires accessing secrets which aren't available to dependabot.
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    environment:
      name: ${{ matrix.environment-name }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x]
        # Note: "Inrupt Production" and "Inrupt 1.1" have been disabled due to the migration
        # "Inrupt Dev-Next" is a 2.x environment.
        environment-name: ["ESS Dev-Next", "NSS"]
    steps:
      - uses: actions/checkout@v3

      - name: Runs on ${{ matrix.os }} with Node.js ${{ matrix.node-version }} against ${{ matrix.environment-name }}
        uses: actions/setup-node@v3
        id: setup-node
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Install dependencies
        # FIXME: setup-node's caching seems to not restore correctly: https://github.com/actions/setup-node/pull/323/files
        # if: steps.setup-node.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts

      - run: npm run test:e2e:node
        env:
          E2E_TEST_POD: ${{ secrets.E2E_TEST_POD }}
          E2E_TEST_IDP: ${{ secrets.E2E_TEST_IDP }}
          E2E_TEST_ENVIRONMENT: ${{ matrix.environment-name }}
          E2E_TEST_OWNER_CLIENT_ID: ${{ secrets.E2E_TEST_CLIENT_ID }}
          E2E_TEST_OWNER_CLIENT_SECRET: ${{ secrets.E2E_TEST_CLIENT_SECRET }}
          E2E_TEST_FEATURE_ACP: ${{ secrets.E2E_TEST_FEATURE_ACP }}
          E2E_TEST_FEATURE_ACP_V3: ${{ secrets.E2E_TEST_FEATURE_ACP_V3 }}
          E2E_TEST_FEATURE_WAC: ${{ secrets.E2E_TEST_FEATURE_WAC }}
