name: End-to-end node tests

on:
  schedule:
    # Run every fifth minute.
    # This is to verify that ESS is running properly.
    - cron: "*/5 * * * *"

env:
  CI: true
jobs:
  scheduled-e2e-node:
    name: "Scheduled E2E Integration tests"
    # Running end-to-end tests requires accessing secrets which aren't available to dependabot.
    runs-on: ubuntu-latest
    environment:
      name: ${{ matrix.environment-name }}
    strategy:
      matrix:
        # Note: "Inrupt Production" and "Inrupt 1.1" have been disabled due to the migration
        # "Inrupt Dev-Next" is a 2.x environment.
        environment-name: ["Inrupt Dev-Next", "NSS"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "16"
          cache: "npm"
      - run: npm ci --ignore-scripts
      - run: npm run test:e2e:node
        env:
          E2E_TEST_POD: ${{ secrets.E2E_TEST_POD }}
          E2E_TEST_IDP: ${{ secrets.E2E_TEST_IDP }}
          E2E_TEST_CLIENT_ID: ${{ secrets.E2E_TEST_CLIENT_ID }}
          E2E_TEST_CLIENT_SECRET: ${{ secrets.E2E_TEST_CLIENT_SECRET }}
          E2E_TEST_ENVIRONMENT: ${{ matrix.environment-name }}
          E2E_TEST_FEATURE_ACP: ${{ secrets.E2E_TEST_FEATURE_ACP }}
          E2E_TEST_FEATURE_ACP_V3: ${{ secrets.E2E_TEST_FEATURE_ACP_V3 }}
          E2E_TEST_FEATURE_WAC: ${{ secrets.E2E_TEST_FEATURE_WAC }}
      - name: Send a notification that the test has failed
        if: failure()
        run: "curl -X POST -H Content-type: 'application/json' --data \"{\\\"text\\\":\\\"Automated tests against ${{ matrix.environment-name }} failed. View <https://github.com/inrupt/solid-client-js/actions/runs/$RUN_ID|the execution log> for more details.\\\"}\" $WEBHOOK_E2E_FAILURE"
        env:
          WEBHOOK_E2E_FAILURE: "${{ secrets.WEBHOOK_E2E_FAILURE }}"
          RUN_ID: "${{ github.run_id }}"
